.accountItem {
  margin: 1em 0;

  h2 {
    font-size: 1rem;
    color: #2f2f2f;

    text-transform: uppercase;
    font-weight: 600;
}

  p {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
}

.progressBar {
  transition: all 200ms;
  height: 0.3em;

  border-radius: 0.3em;
}
